@using Northwind.Models
@model IEnumerable<OrderDetail>

        <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col" class="text-right">Product ID</th>
            <th scope="col" class="text-right">Unit Price</th>
            <th scope="col" class="text-right">Quantity</th>
            <th scope="col" class="text-right">Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderDetail od in Model)
        {
        <tr>
            <td>@od.OrderID</td>
            <td class="text-right">@od.ProductID</td>
            <td class="text-right">@od.UnitPrice</td>
            <td class="text-right">@od.Quantity</td>
            <td class="text-right">@od.Discount</td>
        </tr>
        }
    </tbody>
</table>